@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'AT Name Sans Variable';
  src: url("https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/AT-NameSansVariable.ttf");
  weight: 1 1000;
}

@font-face {
  font-family: 'AT Name Mono Medium';
  src: url("https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/ATNameMono-Medium.otf");
  weight: 400;
}

@font-face {
  font-family: 'AT Name Mono Medium Italic';
  src: url("https://jesi-rgb-fonts.s3.eu-west-3.amazonaws.com/ATNameMono-MediumItalic.otf");
  weight: 400;
  font-style: italic;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  logs: true;
  root: ":root";
  themes: reallol, barelycookie;
}


@plugin "daisyui/theme" {
  name: "reallol";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 47.839);
  --color-base-200: oklch(96% 0.006 47.839);
  --color-base-300: oklch(92% 0.006 47.839);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(41% 0.112 45.904);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(30% 0.056 229.695);
  --color-neutral: oklch(92% 0.003 48.717);
  --color-neutral-content: oklch(14% 0.004 49.25);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(90% 0.093 164.15);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}




@plugin "daisyui/theme" {
  name: "barelycookie";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 56.043);
  --color-base-200: oklch(26% 0.007 34.298);
  --color-base-300: oklch(37% 0.01 67.558);
  --color-base-content: oklch(92% 0.006 264.531);
  --color-primary: oklch(93.00% 0.10 175.07);
  --color-primary-content: oklch(39% 0.095 152.535);
  --color-secondary: oklch(86.89% 0.09 60.68);
  --color-secondary-content: oklch(28% 0.141 291.089);
  --color-accent: oklch(94% 0.129 101.54);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: 'AT Name Sans Variable', 'Plein Variable', 'Plein', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'AT Name Mono Medium', 'SF Mono', 'Consolas', 'monospace';
  --color-muted: color-mix(in oklch, var(--color-base-content), var(--color-base-100) 35%);
  --color-subtle: color-mix(in oklch, var(--color-base-content), var(--color-base-100) 75%);
}

@media (prefers-color-scheme: dark) {

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
